@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f5f1;
}

h1{
    font-family: 'Poppins', sans-serif;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.125);
}

header .nav-link.active::before {
    transform: scale(1);
    transform-origin: left;
}

header .nav-link.active {
    color: rgb(100 116 139);
}