.about_title_section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/about-us-title-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.about_title{
    min-height: 676px;
}

.about_last_section{
    background-image: url(../images/about-us-img4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.about_last{
    min-height: 676px;
}