.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right: 10px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}

.home_section {
    transform: translate(-50%, -50%);

    @media screen and (max-width:640px) {
        transform: translate(-15%, 10%) !important;
    }
}

/* home_section 3 && home_section 6 */
.home_section3, .home_section6 {
    background-color: #edf9f9;
    background-image: url(../images/main-home-bg-img-new.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
}

.home_section3 .home_img ,
.home_section6 .home_img {
    position: relative;
}

.home_section3 .home_img::after ,
.home_section6 .home_img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffcc41;
    transition: transform .4s ease-in-out;
    z-index: 5;
    border-radius: 0.5rem;
}

.home_section3 .home_img:hover::after ,
.home_section6 .home_img:hover::after {
    transform: translate(-14px, 14px);
    /* Add additional styles for the hover effect here */
    /* For example, you can change the background color or add opacity */
    background-color: #ffcc41;
    opacity: 0.8;
}

/* home_section4 */
.home_section4{
    background-image: url(../images/main-home-img-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.home_section4 .formdiv{
    backdrop-filter: blur(28px) brightness(130%);
    background-color: rgba(255,255,255,.66);
    padding: 40px 48px ;
}