.searching_section{
    display: grid ;
    grid-template-columns: 0.5fr 1.3fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    @media screen and (max-width:1024px) {
        grid-template-columns: 1fr;
    }
}