.sign-btn::after,
.sign-btn-g::after{
    content: "";
    position: absolute;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    border-radius: 0.5rem;
    z-index: -1;
    transition: transform 0.4s;  
}
.sign-btn:after{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: right;
}
.sign-btn-g:after{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: left;
}
.sign-btn-g:hover:after{
    transform: scaleX(1);
    transform-origin: right;
}
.sign-btn:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}